<h1>Welcome</h1>
<div class="contentcontainer med left" style="margin-left: 15px;">
<% if user_signed_in? %>
<%end%>
<h1 class="text-center">Easy Resume Builder</h1><br>
<div class="text-center">
  <h5 class="font-weight-bold">Answer a few questions about your background, skills and achievements,<br>and let our Resume Builder do the rest. Start today for free!</h5><br>
</div>

<div class="text-center">
  <h5 class="font-weight-light">- Helps you to write a personalized/customized resume</h5><br>
</div>

<div class="text-center">
  <%= link_to "Build My Resume", new_user_session_path, :class => "btn btn-primary" %><br>
</div>
</div> 
