<div class="footer">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-4 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Build My Resume:</h5>
        <p>Our easy resume builder allows you to construct a resume easily and with minimum effort</p>
      </div>
      <div class="col-md-3 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>
        <ul class="list-unstyled">
          <li><%= link_to "Home", resumes_path %></li>
          <li><%= link_to "Contact Us", resumes_path %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-2">Copyright © 2020 All rights reserved.
  </div>
</div>
